.container {
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    align-content: inherit;
  }
}

.container > * {
  width: 500px;
}

.margin-bottom {
  margin-bottom: 2em;
}

// .ng-valid[required], .ng-valid.required  {
//   border-left: 5px solid #42A948; /* green */
// }

// .ng-invalid:not(form)  {
//   border-left: 5px solid #a94442; /* red */
// }