<app-toolbar></app-toolbar>
<div class="container">
  <mat-card class="mat-elevation-z6">
    <h1>Badge Request Form</h1>
    <form [formGroup]="form" #f="ngForm" autocomplete="off" novalidate>

      <mat-form-field>
        <input
        type="text"
        id="last-name"
        matInput placeholder="Last Name"
        formControlName="lastName"
        required />
      </mat-form-field>

      <mat-form-field>
        <input
        formControlName="firstName"
        type="text"
        id="first-name"
        matInput
        placeholder="First Name"
        required />
      </mat-form-field>

      <mat-form-field>
        <input
        type="text"
        formControlName="middleName"
        id="middle-name"
        matInput
        placeholder="Middle Name" />
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Suffix" formControlName="suffix">
          <mat-option value="jr">Jr</mat-option>
          <mat-option value="sr">Sr</mat-option>
          <mat-option value="second">II</mat-option>
          <mat-option value="third">III</mat-option>

        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input type="text" matInput placeholder="Birthdate" [matDatepicker]="picker" [max]="maxDate"
        formControlName="dob" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input type="text" id="organization" matInput placeholder="Organization" formControlName="organization" />
      </mat-form-field>

      <mat-form-field>
        <input type="text" id="socialSecurityNumber" matInput placeholder="Social Security #"
        formControlName="ssn" required minlength="9" maxlength="9" />
      </mat-form-field>

      <label for="driversLicenseImage">Driver's License Image</label>
      <button mat-stroked-button type="button" (click)="filePickerLicense.click()">Pick Image</button>
      <input type="file" class="margin-bottom" id="driversLicenseImage" accept="image/*"
        required (change)="onFileChange($event, 'driversLicenseImage')" #filePickerLicense hidden/>

      <label for="citizenshipImage">Passport
        or Birth Certificate Image</label>
      <button mat-stroked-button type="button" (click)="filePickerBirth.click()">Pick Image</button>
      <input type="file" class="margin-bottom" id="citizenshipImage" accept="image/*" required
        (change)="onFileChange($event, 'citizenshipImage')" #filePickerBirth hidden/>

      <button color="primary" class="margin-10-top" mat-raised-button [disabled]="f.invalid" (click)="onSubmit()">Submit</button>
      <h1 color="accent" *ngIf="serverMessage">{{serverMessage?.message}}</h1>

    </form>
  </mat-card>
</div>

<div class="debug">
  <h3>Form Value:</h3>
  {{ f.value | json }}
</div>